# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/


# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# But not this files
!*/[Bb]in/[Dd]ebug/[Nn]etcoreapp3.0/Account.txt
!*/[Bb]in/[Dd]ebug/[Nn]etcoreapp3.0/iTechArt.7z